#pixelCanvas{
    display: flex;
    height: calc(100vh - 7rem);
    width: 100vw;
    border: 1px solid black;
}
.hfooter{
    height: 3.5rem;
}
.footerelement {
    width: 25%;
}

@media (min-width: 576px) {
    .footerelement {
        width: auto;
    }
}
